span.done-true{
	 text-decoration: line-through;
}
.list-item{margin-bottom:5px;}
form{margin-bottom:20px;}
.sort-date{
	margin-bottom:20px;
	display: block;
}

button.remove-item{
	margin-top:20px;
}
.outdated{color:#ff0000;}
table td{
	padding: 4px 20px;
	border:1px solid #999;
}
tr.filters td{background:#eee;}
input[type="text"],
select{
	width:150px;
}
.add-item{
	display:block;
	border:1px solid #ccc;
	font-size: 26px;
	line-height:30px;
	padding: 0 10px;
	text-decoration: none;
	width:16px;
	border-radius:3px;
}